.container-bottom{
    display: flex;
    position: fixed;
    margin-top: 225px;
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 45px;
    border-top: 3px solid rgb(6, 214, 160);

}

.icon{
    width: 33.33%;
    text-align: center;
    font-size: 25px;
    margin-top: 6px;
    text-decoration: none;
}